<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Express Todos | Here are your todos</title>
</head>
<body>
    <h1>Here are your Todos as of <%= time %></h1>
    <a href= "/">Go Home</a>
    <ul>
        <% todos.forEach(function(todo, idx) { %>
            <li>
                <form action="/todos/<%= idx %>?_method=DELETE" method="POST">
                    <button type="submit">🔥</button>
                </form>
                <a href="/todos/<%= idx %>">
                <%= todo.text %>
                - 
                <%= todo.done ? 'done' : 'not done' %>
                </a>
            </li>
        <% }) %>
    </ul>
    <a href="/todos/new">Add To-Do</a>
</body>
</html>